.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.go-to-page-two {
  position:absolute;
}

.State-page {
  display:flex;
  flex-direction: row;
}

.cityButton {
  position:absolute;
  right: 30%;
  top: 30%;
}

.cityInfo {
  position:absolute;
  background-color: rgba(193, 193, 193, 0.774);
  width: 70%;
  height: 60%;
  top: 30%;
}

.cityMapTemp {
  /* width: 60% */
  height: 90%
}

.allOptions {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.option {
  margin-left: 50px;
  margin-right: 50px;
}
